* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#EEF3D2, #242F9B);
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 100px;
}

header {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  background-color: #242F9B;
}

header a {
  font-size: 25px;
  margin-left: 50px;
  text-decoration: none;
  color: #EEF3D2;
}
header a:hover{
  text-decoration: underline;
}

#diary {
  background-color: #242F9B;
  color: #EEF3D2;
  border-radius: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
}

#daily-vlogs {
  background-color: #242F9B;
  color: #EEF3D2;
  border-radius: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
}

#contact {
  background-color: #242F9B;
  color: #EEF3D2;
  border-radius: 15px;
  width: 80%;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact p {
  margin-bottom: 10px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  transition: transform 0.7s ease-out;
}

.contact-links a {
  color: #EEF3D2;
  font-size: 20px;
  margin: 0 20px;
}
.contact-links :hover{
  transform: translateY(-5px);
}
@media (max-width: 440px) {
  body{
    height: 100vh;
  }
}
